<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office 365 회원 가입</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="content_box">
        <div class="con_title_box">
            <div class="title_s01">
                <p>Office 365</p>
                <h1>도움말</h1>
            </div>
        </div>

        <!-- 컨텐츠 섹션 -->
        <div class="c_content">
            <!-- 기본 정보 섹션 -->
            <div class="section_A_01">
                <!-- 사이드바 메뉴 -->
                <div class="tree_box_01">
                    <h2>도움말</h2>
                    <ul class="m_letree">
                        <li><a href="/FAQ/FAQDiv003">- 서비스 안내</a></li>
                        <li><a href="/FAQ/FAQDiv004">- Office 365 메뉴얼</a></li>
                        <li><a href="/FAQ/FAQDiv006">- Office 365 모바일</a></li>
                        <li><a href="/FAQ/FAQDiv001"  class="on">- Office 365 회원 가입</a></li>
                        <li><a href="/FAQ/FAQDiv002">- Office 365 로그인</a></li>
                    </ul>
                </div>
                <!-- 아코디언 컨텐츠 섹션 -->
                <ul class="accordion">
                    <li class="accordion-item">
                        <input type="checkbox" id="item1" class="main-accordion">
                        <label for="item1" class="accordion-title">
                            회원 가입 절차
                            <i class="fas fa-chevron-down arrow"></i>
                        </label>
                        <div class="accordion-content">
                            <p></p>
                            <p><span class="highlight-text"><b>1. 이용 약관에 동의(체크)한 후 다음 버튼을 클릭합니다.</b></span></p>
                            <p><span class="highlight-text" style="color: rgb(255, 108, 0);">&nbsp; &nbsp; *&nbsp;</span><span class="highlight-text" style="color: rgb(255, 108, 0);">14세 미만 학생의 경우, 보호자(부모님)의 휴대폰으로 본인 인증을 거친 후 가입이 가능합니다.</span></p>
                            <p><img src="/img/Regi1.png" title="Regi1.png" class="image"><br class="clear-both"><span class="highlight-text">&nbsp;</span></p>
                            <p><span class="highlight-text">&nbsp;</span></p>
                            <p><span class="highlight-text"><b>2. 휴대폰 본인 인증을 진행한 후 인증 코드를 입력하고, 다음 버튼을 클릭합니다.</b></span></p>
                            <p><span class="highlight-text" style="color: rgb(255, 108, 0);">&nbsp; &nbsp;</span><span class="highlight-text" style="color: rgb(255, 108, 0);">*&nbsp;</span><span class="highlight-text" style="color: rgb(255, 108, 0);">인증 코드는 영문과 숫자로 구성되어 있으며, 대소문자 구분을 하지 않습니다.</span></p>
                            <p><span class="highlight-text" style="color: rgb(255, 108, 0);">&nbsp; &nbsp;*&nbsp;</span><span class="highlight-text" style="color: rgb(255, 108, 0);">인증 코드는 학교 정보부장 선생님 또는 Microsoft 파트너를 통해 확인하실 수 있습니다.</span></p>
                            <p><img src="/img/Regi2.png" title="Regi2.png" class="image"><br class="clear-both"><span class="highlight-text">&nbsp;</span></p>
                            <p><span class="highlight-text">&nbsp;</span></p>
                            <p><span class="highlight-text"><b>3. 사용할 ID와 표시 이름, 암호를 입력하면 Office 365 계정이 생성됩니다.</b></span></p>
                            <p><span class="highlight-text">&nbsp;</span><span class="highlight-text" style="color: rgb(255, 108, 0);">*&nbsp;</span><span class="highlight-text" style="color: rgb(255, 108, 0);">생성된 계정 정보는 이후에 Office 365 포탈 및 및 Office 프로그램 인증에 사용되므로 꼭 기억해 두세요.</span></p>
                            <p><span class="highlight-text">&nbsp; 1) 기본적으로 본인 인증을 받은 사람의 이름으로 표시되며, 원할 경우 변경할 수 있습니다.</span></p>
                            <p><span class="highlight-text">&nbsp; 2) 학생의 입학 년도를 숫자로 입력합니다. (예: 2019)</span></p>
                            <p><span class="highlight-text">&nbsp; 3) 사용하고자 하는 ID를 입력합니다.</span></p>
                            <p><span class="highlight-text">&nbsp; 4) 사용 가능 여부를 확인합니다. (이미 사용 중인 경우 다른 ID로 재시도합니다.)</span></p>
                            <p><span class="highlight-text">&nbsp; 5) 암호는 대소문자를 구분합니다. 복잡도를 만족하도록 암호를 입력합니다.&nbsp;</span></p>
                            <p><img src="/img/Regi3.png" title="Regi3.png" class="image"><br class="clear-both"><span class="highlight-text">&nbsp;</span></p>
                            <p><img src="/img/Regi4.png" title="Regi4.png" class="image"><br class="clear-both"><span class="highlight-text">&nbsp;</span></p>
                            <p></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 컨텐츠 / end -->
    </div>

    <script src="js/accordion.js"></script>
</body>
</html>
