<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office 365 로그인</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="content_box">
        <div class="con_title_box">
            <div class="title_s01">
                <p>Office 365</p>
                <h1>도움말</h1>
            </div>
        </div>

        <!-- 컨텐츠 섹션 -->
        <div class="c_content">
            <!-- 기본 정보 섹션 -->
            <div class="section_A_01">
                <!-- 사이드바 메뉴 -->
                <div class="tree_box_01">
                    <h2>도움말</h2>
                    <ul class="m_letree">
                        <li><a href="/FAQ/FAQDiv003">- 서비스 안내</a></li>
                        <li><a href="/FAQ/FAQDiv004">- Office 365 메뉴얼</a></li>
                        <li><a href="/FAQ/FAQDiv006">- Office 365 모바일</a></li>
                        <li><a href="/FAQ/FAQDiv001">- Office 365 회원 가입</a></li>
                        <li><a href="/FAQ/FAQDiv002" class="on">- Office 365 로그인</a></li>
                    </ul>
                </div>
                <!-- 아코디언 컨텐츠 섹션 -->
                <ul class="accordion">
                    <li class="accordion-item">
                        <input type="checkbox" id="item1" class="main-accordion">
                        <label for="item1" class="accordion-title">
                            로그인 안내
                            <i class="fas fa-chevron-down arrow"></i>
                        </label>
                        <div class="accordion-content">
                            <p></p>
                            <p><span class="highlight-text"><b>1. 브라우저를 실행한 후 아래의 경로 이동합니다.</b></span></p>
                            <p><span class="highlight-text" style="color: rgb(255, 108, 0);">&nbsp; &nbsp; *&nbsp;</span><span class="highlight-text" style="color: rgb(255, 108, 0);">*링크 클릭 시 이동합니다.</span></p>
                            <a href="https://www.office.com/" target="_blank" class="link">https://www.office.com/</a>
                            <p><span class="highlight-text">&nbsp;</span></p>
                            <p><span class="highlight-text"><b>2. 화면 가운 '로그인'버튼 또 오른쪽 상단의 '로그인' 링크를 클릭합니다.</b></span></p>
                            <p><img src="/img/Login1.png" title="Login1.png" class="image"><br class="clear-both"><span class="highlight-text">&nbsp;</span></p>
                            <p><span class="highlight-text">&nbsp;</span></p>
                            <p><span class="highlight-text"><b>3. 회원 가입 시 생성 Office 365 계정과 비밀 번호를 입력해 로그인합니다.</b></span></p>
                            <p><img src="/img/Login2.png" title="Login2.png" class="image"><br class="clear-both"><span class="highlight-text">&nbsp;</span></p>
                            <p><img src="/img/Login3.png" title="Login3.png" class="image"><br class="clear-both"><span class="highlight-text">&nbsp;</span></p>
                            <p><span class="highlight-text"><b>4. 아래 화면에 "예"를 클릭하면, 다음 로그인 시 자동으로 로그인되므로, 필요에 따라 선택합니다.</b></span></p>
                            <p><span class="highlight-text" style="color: rgb(255, 108, 0);">&nbsp; &nbsp; *&nbsp;</span><span class="highlight-text" style="color: rgb(255, 108, 0);">*공용 PC인 경우, 다른 사용자가 본인 계정으로 로그인할 수 있으므로, 반드시 아니오를 클릭합니다.</span></p>
                            <p><img src="/img/Login4.png" title="Login3.png" class="image"><br class="clear-both"><span class="highlight-text">&nbsp;</span></p>
                            <p></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 컨텐츠 / end -->
    </div>

    <script src="js/accordion.js"></script>
</body>
</html>
