<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office 365 메뉴얼</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="content_box">
        <div class="con_title_box">
            <div class="title_s01">
                <p>Office 365</p>
                <h1>도움말</h1>
            </div>
        </div>

        <!-- 컨텐츠 섹션 -->
        <div class="c_content">
            <!-- 기본 정보 섹션 -->
            <div class="section_A_01">
                <!-- 사이드바 메뉴 -->
                <div class="tree_box_01">
                    <h2>도움말</h2>
                    <ul class="m_letree">
                        <li><a href="/FAQ/FAQDiv003">- 서비스 안내</a></li>
                        <li><a href="/FAQ/FAQDiv004" class="on">- Office 365 메뉴얼</a></li>
                        <li><a href="/FAQ/FAQDiv006">- Office 365 모바일</a></li>
                        <li><a href="/FAQ/FAQDiv001">- Office 365 회원 가입</a></li>
                        <li><a href="/FAQ/FAQDiv002">- Office 365 로그인</a></li>
                    </ul>
                </div>
                <!-- 아코디언 컨텐츠 섹션 -->
                <ul class="accordion">
                    <li class="accordion-item">
                        <input type="checkbox" id="item1" class="main-accordion">
                        <label for="item1" class="accordion-title">
                            Office 365 메뉴얼 소개
                            <i class="fas fa-chevron-down arrow"></i>
                        </label>
                        <div class="accordion-content">
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <input type="checkbox" id="subitem1-1" class="sub-accordion-checkbox">
                                    <label for="subitem1-1" class="accordion-title">
                                        1. Office 365 소개
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </label>
                                    <div class="accordion-content">
                                        <p class="link-box">
                                            <span class="highlight-text">1.&nbsp;&nbsp;</span>
                                            <a href="http://www.youtube.com/watch?v=knWjOIpMuB8" target="_blank" class="link">Office 365 소개 동영상</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">2.&nbsp;&nbsp;</span>
                                            <a href="http://office.microsoft.com/ko-kr/sharepoint-server-help/VA103133078.aspx?CTT=5&amp;origin=HA102822111" target="_blank" class="link">Office Online 사용 도움말</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">3.&nbsp;&nbsp;</span>
                                            <a href="http://office.microsoft.com/ko-kr/office365-suite-help/HA103267190.aspx?CTT=5&amp;origin=HA102821290" target="_blank" class="link">전자메일 Outlook Web App 사용 도움말</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">4.&nbsp;&nbsp;</span>
                                            <a href="http://office.microsoft.com/ko-kr/sharepoint-server-help/VA103141040.aspx?CTT=3" target="_blank" class="link">문서 및 아이디어 공유 팀 사이트 사용 도움말</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">5.&nbsp;&nbsp;</span>
                                            <a href="http://office.microsoft.com/ko-kr/office365-suite-help/HA103105905.aspx?CTT=5&amp;origin=HA102818409" target="_blank" class="link">메신저 대화 및 온라인 모임 Lync 사용 도움말</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">6.&nbsp;&nbsp;</span>
                                            <a href="http://download.microsoft.com/download/0/8/3/08302CBA-D061-4E8A-ADD4-AC8722D1AF5D/Office365_sharepoint.pdf" target="_blank" class="link">팀 사이트 사용 가이드 다운로드</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">7.&nbsp;&nbsp;</span>
                                            <a href="http://download.microsoft.com/download/0/8/3/08302CBA-D061-4E8A-ADD4-AC8722D1AF5D/Office365_outlook.pdf" target="_blank" class="link">메일 사용 가이드 다운로드</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">8.&nbsp;&nbsp;</span>
                                            <a href="http://download.microsoft.com/download/0/8/3/08302CBA-D061-4E8A-ADD4-AC8722D1AF5D/Office365_lync.pdf" target="_blank" class="link">메신저 사용 가이드 다운로드</a>
                                        </p>
                                    </div>
                                </li>
                                <li class="accordion-item">
                                    <input type="checkbox" id="subitem1-2" class="sub-accordion-checkbox">
                                    <label for="subitem1-2" class="accordion-title">
                                        2. Office 365 교육 센터
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </label>
                                    <div class="accordion-content">
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;1.&nbsp;&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/office-training-center?ms.officeurl=training" target="_blank" class="link">Office 365 교육센터</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;2.&nbsp;&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/office-365-%EA%B8%B0%EB%B3%B8-%EC%82%AC%ED%95%AD-%EB%B9%84%EB%94%94%EC%98%A4-%EA%B5%90%EC%9C%A1-396b8d9e-e118-42d0-8a0d-87d1f2f055fb?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">Office 365 기본 사항 - 비디오 교육</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;3.&nbsp;&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/office-365-%EC%86%8C%EA%B0%9C-378767af-7ac3-4d68-9d0f-709b6948a76b?ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">Office 365 기본 사항 - 간단 소개</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;4.&nbsp;&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/%EC%84%9C%EC%8B%9D-%ED%8C%8C%EC%9D%BC-%EC%82%AC%EC%9A%A9%ED%95%B4-%EB%B3%B4%EA%B8%B0-0865d155-bd36-407a-82be-929f2cd76f26?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">서식 파일 사용해 보기</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;5.&nbsp;&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/office-365%EB%A1%9C-%EA%B3%B5%EB%8F%99-%EC%9E%91%EC%97%85-ac05a41e-0b49-4420-9ebc-190ee4e744f4?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">Office 365로 공동 작업</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;6.&nbsp;&nbsp;</span>
                                            <a href="https://support.office.com/office-training-center/featured-tips?wt.mc_id=OTC_HOME" target="_blank" class="link">Office 팁과 요령</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;7.&nbsp;&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/outlook-%EA%B5%90%EC%9C%A1-8a5b816d-9052-4190-a5eb-494512343cca?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">Outlook 교육</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;8.&nbsp;&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/onedrive-%EB%B9%84%EB%94%94%EC%98%A4-%EA%B5%90%EC%9C%A1-1f608184-b7e6-43ca-8753-2ff679203132?ocmsassetID=1f608184-b7e6-43ca-8753-2ff679203132&amp;wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">OneDrive 비디오 교육</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;9.&nbsp;&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/windows%EC%9A%A9-word-%EB%B9%84%EB%94%94%EC%98%A4-%EA%B5%90%EC%9C%A1-7bcd85e6-2c3d-4c3c-a2a5-5ed8847eae73?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">Windows용 Word 비디오 교육</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;10.&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/excel-%EB%B9%84%EB%94%94%EC%98%A4-%EA%B5%90%EC%9C%A1-9bc05390-e94c-46af-a5b3-d7c22f6990bb?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">Excel 비디오 교육</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;11.&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/powerpoint-%EA%B5%90%EC%9C%A1-40e8c930-cb0b-40d8-82c4-bd53d3398787?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">PowerPoint 교육</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;12.&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/onenote-%EB%B9%84%EB%94%94%EC%98%A4-%EA%B5%90%EC%9C%A1-1c983b65-42f6-42c1-ab61-235aae5d0115?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">OneNote 비디오 교육</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;13.&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/sharepoint-online-%EB%B9%84%EB%94%94%EC%98%A4-%EA%B5%90%EC%9C%A1-cb8ef501-84db-4427-ac77-ec2009fb8e23?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">SharePoint Online 비디오 교육</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;14.&nbsp;</span>
                                            <a href="https://support.office.com/ko-kr/article/microsoft-teams-%EB%B9%84%EB%94%94%EC%98%A4-%EA%B5%90%EC%9C%A1-4f108e54-240b-4351-8084-b1089f0d21d7?wt.mc_id=otc_home&amp;ui=ko-KR&amp;rs=ko-KR&amp;ad=KR" target="_blank" class="link">Microsoft Teams 비디오 교육</a>
                                        </p>
                                    </div>
                                </li>
                                <li class="accordion-item">
                                    <input type="checkbox" id="subitem1-3" class="sub-accordion-checkbox">
                                    <label for="subitem1-3" class="accordion-title">
                                        3. 모바일 앱 다운로드
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </label>
                                    <div class="accordion-content">
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;1.&nbsp;&nbsp;</span>
                                            <a href="https://products.office.com/ko-kr/mobile/" target="_blank" class="link">Office 모바일 앱 다운로드</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;2.&nbsp;&nbsp;</span>
                                            <a href="https://products.office.com/ko-kr/mobile/office-mobile-apps-for-ios" target="_blank" class="link">iOS용 Office 다운로드</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;3.&nbsp;&nbsp;</span>
                                            <a href="https://products.office.com/ko-kr/mobile/office-mobile-apps-for-android" target="_blank" class="link">Android용 Office 다운로드</a>
                                        </p>
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;4.&nbsp;&nbsp;</span>
                                            <a href="https://products.office.com/ko-kr/mobile/office-mobile-apps-for-windows" target="_blank" class="link">Windows 10 Mobile용 Office 받기</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 컨텐츠 / end -->
    </div>

    <script src="js/accordion.js"></script>
</body>
</html>
