<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office 365 모바일</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="content_box">
        <div class="con_title_box">
            <div class="title_s01">
                <p>Office 365</p>
                <h1>도움말</h1>
            </div>
        </div>

        <!-- 컨텐츠 섹션 -->
        <div class="c_content">
            <!-- 기본 정보 섹션 -->
            <div class="section_A_01">
                <!-- 사이드바 메뉴 -->
                <div class="tree_box_01">
                    <h2>도움말</h2>
                    <ul class="m_letree">
                        <li><a href="/FAQ/FAQDiv003">- 서비스 안내</a></li>
                        <li><a href="/FAQ/FAQDiv004">- Office 365 메뉴얼</a></li>
                        <li><a href="/FAQ/FAQDiv006" class="on">- Office 365 모바일</a></li>
                        <li><a href="/FAQ/FAQDiv001">- Office 365 회원 가입</a></li>
                        <li><a href="/FAQ/FAQDiv002">- Office 365 로그인</a></li>
                    </ul>
                </div>
                <!-- 아코디언 컨텐츠 섹션 -->
                <ul class="accordion">
                    <li class="accordion-item">
                        <input type="checkbox" id="item1" class="main-accordion">
                        <label for="item1" class="accordion-title">
                            Office 365 모바일 절차 및 정보
                            <i class="fas fa-chevron-down arrow"></i>
                        </label>
                        <div class="accordion-content">
                            <p></p>
                            <div><span class="highlight-text"><b>Office 365는 모든 기기에서 사용할 수 있습니다.&nbsp;</b></span></div>
                            <div><span class="highlight-text" style="color: rgb(255, 108, 0);">&nbsp; &nbsp; * PC, Mac, 태블릿, 스마트폰 어디에서나 Office 365가 원할하게 작동합니다.</span></div>
                            <div><span class="highlight-text"><b><br></b></span></div>
                            <div><span class="highlight-text"><b>모바일 앱 설명서는 아래 가이드를 참고하시기 바랍니다.</b></span></div>
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <input type="checkbox" id="subitem1-1" class="sub-accordion-checkbox">
                                    <label for="subitem1-1" class="accordion-title">
                                        1. IOS
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </label>
                                    <div class="accordion-content">
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;</span><a href="https://products.office.com/ko-kr/mobile/office-mobile-apps-for-ios" target="_blank" class="link">IOS 가이드</a>
                                        </p>
                                    </div>
                                </li>
                                <li class="accordion-item">
                                    <input type="checkbox" id="subitem1-2" class="sub-accordion-checkbox">
                                    <label for="subitem1-2" class="accordion-title">
                                        2. Android
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </label>
                                    <div class="accordion-content">
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;&nbsp;<a href="https://products.office.com/ko-kr/mobile/office-mobile-apps-for-android" target="_blank" class="link">Android 가이드</a></span>
                                        </p>
                                    </div>
                                </li>
                                <li class="accordion-item">
                                    <input type="checkbox" id="subitem1-3" class="sub-accordion-checkbox">
                                    <label for="subitem1-3" class="accordion-title">
                                        3. Windows Phone
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </label>
                                    <div class="accordion-content">
                                        <p class="link-box">
                                            <span class="highlight-text">&nbsp;&nbsp;<a href="https://products.office.com/ko-kr/mobile/office-mobile-apps-for-windows" target="_blank" class="link">Windows Phone 가이드</a></span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <p></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 컨텐츠 / end -->
    </div>
    <script src="js/accordion.js"></script>
</body>
</html>
